.logo__img {
    margin-right: 10px;
    margin-left: -50px;
    margin-top: -30px;
    width:65px;
    height:65px;
}

h1, h4, p {
    color: black;
}

.accordion-button {
    border: none;
    font-size: 25px;
    margin-right: 40px;
    outline: none;
}

*:focus {
    outline: 0 !important;
}